<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Auto Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Required -->
    @*<link href="css/global-style.css" rel="stylesheet" type="text/css" media="screen">*@
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!--Additional styling-->
    <link href="~/SpecStyles/appstyle.css" rel="stylesheet" />
    @*<link href="~/Content/css/global-style.css" rel="stylesheet" />*@

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" id="navbar">
            <div class="row">
                <div class="col-xs-4">
                </div>
                <div class="col-xs-4 appLabel" id="title">
                    <i>Auto Finder</i>
                </div>
                <div class="col-xs-4">
                    @Html.ActionLink("API", "Index", "Help", new { area = ""}, new {@class="appLabel hoverLabel", @id="API" })
                </div>

                @*<div class="navbar-header">
                @Html.ActionLink("Auto Finder", "Index", "Home", new { area = "" }, new { @class = "navbar-brand"})
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Hammad Hussain</p>
        </footer>
    </div>



    <!-- JavaScript -->


    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <script src="~/NgApps/app.js"></script>
    <script src="~/NgApps/Controllers/CarFinderController.js"></script>
    <script src="~/NgApps/Services/CarFinderFactory.js"></script>




</body>

</html>
